@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
	color: #000000;
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
}
.navbar,
.navbar-default,
.navbar-nav {
	color: #000000;
	background-color: #ffffff;
}
.navbar-nav > li,
.navbar-default .navbar-nav > li > a {
	color: #000000;
}
